{% extends 'base.html' %}

{% block title %} Products page {% endblock %}

{% block content %}

{% load static %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>  
<!-- ***** Preloader End ***** -->

{% include 'details/navbar.html' %}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">All Products</li>
            {% for category in categories %}
            <li data-filter=".{{category.asd}}">{{category.name}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            {% for product in products %}
            <div class="col-lg-4 col-md-4 all {{product.category}}">
              <div class="product-item">
                <a href="{% url 'ecommerse:product-detail' product.pk %}"><img src="{{product.image.url}}" alt=""></a>
                <div class="down-content">
                  <a href="{% url 'ecommerse:product-detail' product.pk %}"><h4>{{product.name}}</h4></a>
                  <h6>${{product.price}}</h6>
                  <p>{{product.description}}</p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (12)</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  
  <!-- Additional Scripts -->
  <script src="{% static '/js/custom.js' %}"></script>
  <script src="{% static '/js/owl.js' %}"></script>
  <script src="{% static '/js/slick.js' %}"></script>
  <script src="{% static '/js/isotope.js' %}"></script>
  <script src="{% static '/js/accordions.js' %}"></script>
  
  
  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
      }
    }
  </script>
  
  
  {% endblock %}